

  /* Header and navigation styles */
  header {
    background-color: var(--color1); /* Color de fondo del menú */
    padding: 5px 5vw; /* Espaciado lateral */
    position: fixed; /* Hace que el menú sea fijo en la parte superior */
    top: 0; /* Lo posiciona al inicio de la pantalla */
    width: 100%; /* Asegura que el menú ocupe todo el ancho de la ventana */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional, añade un pequeño sombreado */
  }

  .menu {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu-left {
    display: flex;
    gap: 10px; /* Espacio entre los logos */
  }

  .menu-center {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el menú */
  }

  .menu-left img.logo {
    height: 40px;
    margin: 4px;
    width: auto;
  }

  .menu-center ul {
    list-style-type: none;
    display: flex; /* Los elementos del menú estarán en fila */
    flex-direction: row;
  }

  .menu-center ul li {
    margin: 0 15px;
    position: relative; /* Necesario para la línea separadora */
  }

  /* Estilo de la línea separadora */
  .menu-center ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -7px;
    top: 0;
    height: 30px;
    border-right: 1px solid white;
  }

  .menu-center ul li a {
    color: white;
    text-decoration: none;
    font-family: 'HTOWERT';
    color: #e9d3ab;
    font-size: 16px;
    padding: 5px 10px; /* Añadir algo de espacio alrededor del texto */
  }

  .menu-center ul li a:hover {
    text-decoration: underline;
  }

  /* Estilo para el submenú */
  .submenu {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color1); /* Asegura que el submenú tenga el mismo fondo */
    min-width: 200px; /* Ancho mínimo para el submenú */
    padding: 5px 0;
  }

  .menu-item-has-children:hover .submenu {
    display: block; /* Mostrar el submenú cuando se pasa el ratón por encima */
  }

  .submenu li {
    margin: 0;
  }

  .submenu li a {
    padding: 10px 20px;
    font-size: 14px;
  }

  .submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efecto hover para los items del submenú */
  }

  /* Estilo para las redes sociales */
  .menu-right ul {
    list-style-type: none;
    display: flex; /* Los íconos de redes sociales estarán en fila */
    gap: 15px; /* Espacio entre los íconos */
  }

  .menu-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .menu-right ul li a:hover {
    text-decoration: underline;
  }



  /* Estilo para el submenú */
  .submenu {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color1); /* Asegura que el submenú tenga el mismo fondo */
    min-width: 200px; /* Ancho mínimo para el submenú */
    padding: 5px 0;
  }

  .submenu.show {
    display: block; /* Mostrar el submenú cuando la clase 'show' esté activa */
  }

  .submenu li {
    margin: 0;
  }

  .submenu li a {
    padding: 10px 20px;
    font-size: 14px;
  }

  .submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efecto hover para los items del submenú */
  }


  /* Estilo para el submenú */
  .submenu {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color1); /* Asegura que el submenú tenga el mismo fondo */
    min-width: 200px; /* Ancho mínimo para el submenú */
    padding: 5px 0;
  }

  .menu-item-has-children:hover .submenu {
    display: block; /* Mostrar el submenú cuando se pasa el ratón por encima */
  }

  .submenu li {
    margin: 0;
  }

  .submenu li a {
    padding: 10px 20px;
    font-size: 14px;
  }

  .submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efecto hover para los items del submenú */
  }


  .menu-right .redes ul li a img {
    filter: brightness(0) invert(1); /* Aplica un filtro para hacer el SVG blanco */
  } 

  /* Estilo para las redes sociales */
.menu-right ul .redes {
  list-style-type: none;
  display: flex; /* Los íconos estarán en fila */
  gap: 15px; /* Espacio entre los íconos */
  justify-content: center; /* Centra los íconos horizontalmente */
  align-items: center; /* Centra los íconos verticalmente */
}

.menu-right ul .redes li a {
  display: flex; /* Necesario para alinear los iconos dentro del <a> */
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
}



.menu-right {
  display: flex ;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      row-gap: 10px;
      column-gap: 20px;
}

/* Asegurando que las imágenes sean redondeadas */
.idiomas ul li img, .redes ul li img {
  border-radius: 50%;  /* Hace que las imágenes sean círculos */
  
}
