* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #78743a;
    color: white;
}

.navbar-izq .navbar-texto {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-der {
    display: flex;
    gap: 20px;
}

.menu-alt {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-alt .br{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}
.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-link:hover {
    text-decoration: underline;
}


/* cosa renposive o eso se supone*/
@media  (max-width: 768px){
    .navbar-der {
        display: none;
        flex-direction: column;
        background-color: rgb(36, 39, 39);
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        padding: 10px 0;
        text-align: right;
    }
    .navbar-der.active {
        display: flex;
    }
    .menu-alt {
        display: flex;
    }
    
}
